*.class

# Package Files #
target
*.jar
*.war
*.ear
*.idea
*.iml
*.ipr
*.iws

# Eclipse IDE specific files #
.settings
.classpath
.project

# JRebel related files #
rebel.xml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
